<p id="notice"><%= notice %></p>

<p>
  <strong>Commenter:</strong>
  <%= @comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= @comment.body %>
</p>
 
<%= link_to 'Edit Comment', edit_article_comment_path(@comment.article, @comment) %> |
<%= link_to 'Destroy Comment', [@comment.article, @comment],
             method: :delete,
             data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Articles', articles_path %>
